.myButton {
	position: absolute;
	margin-left: 500px;
	margin-top: 300px; 
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 70px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}

.myText{
	position: absolute;
	margin-left: 440px;
	margin-top: 200px;
	font-family: Georgia, serif;
	font-size: 20px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	font-style: normal;
	font-variant: small-caps;
	text-transform: none;
}

.myMusic{
	position: absolute;
	margin-left: 800px;
	margin-top: 600px;
}

body {
	background-image:url("/Images/skyy.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}


